<div class="container">
	<h2 class="text-center"> Registro de Pagos </h2>
  <br>
  <br>
	  <table class="table table-striped table-responsive">
            <thead class = "titles">
              <tr>
                <td class ="id_pago_cargo"><strong>Pago Cargo</strong></td>
                <td class="id_pago"><strong>Pago</strong></td>
                <td class="id_cargo"><strong>Cargo</strong></td>
                <td class="monto"><strong>Monto</strong></td>
              </tr>
            </thead>

            <tbody class="pagoCargo">
            </tbody>
          </table>
</div>