<div class="container">
	<h2 class="text-center"> Registro de Plan Pago </h2>
  <br>
  <br>
	  <table class="table table-striped table-responsive">
            <thead class = "titles">
              <tr>
                <td class ="id_plan_pago"><strong>Plan Pago</strong></td>
                <td class="carne" ><strong>Carne</strong></td>
                <td class="fecha_aplicacion"><strong>Fecha Aplicacion</strong></td>
                <td class="montos"><strong>Monto</strong></td>
                <td class="cuotas"><strong>Cuotas</strong></td>
                <td class="moneda"><strong>Moneda</strong></td>
              </tr>
            </thead>

            <tbody class="planPago" >
            </tbody>
          </table>
</div>