<div class="container">
	<h2 class="text-center"> Registro de Cargos </h2>
  <br>
  <br>
	  <table class="table table-striped table-responsive">
            <thead class = "titles">
              <tr>
                <td class ="id_cargo"><strong>Cargo</strong></td>
                <td class="carne" ><strong>Carne</strong></td>
                <td class="fecha_transaccion"><strong>Fecha Transaccion</strong></td>
                <td class="monto"><strong>Monto</strong></td>
                <td class="saldo"><strong>Saldo</strong></td>
                <td class="fecha_vencimiento"><strong>Fecha Vencimiento</strong></td>
                <td class="descripcion"><strong>Descripcion</strong></td>
                <td class="moneda"><strong>Moneda</strong></td>
              </tr>
            </thead>

            <tbody class="cargo">
            </tbody>
          </table>
</div>